<html>
<head>
<title>{{ name|title }}</title>
</head>
<body>
<div>
    <canvas id="melodyMixerArea" width="100" height="100"></canvas>
</div>
<div id="choice_table">
    <table id="assignments">
        <thead>
        <tr>
            <th>Example</th>
            <th>Your Score</th>
            <th>Max Score</th>
            <th>Activities:</th>
        </tr>
        </thead>
        <tbody>
        {% for level in levelList %}
        <tr>
            <td>Example {{ loop.index }}</td>
            <td id="score">{{ scores[loop.index] }}</td>
            <td>100</td>
            <td><button id="basic1" onclick="window.location.href='{{ url('paustianmelodymixermodule_level_levelsdisplay', {'level': level}) }}'">Start
                {{ name|title }} {{ loop.index }}</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('readystatechange', (event) => {
        if(document.readyState === 'complete'){
            initLevel();
        }
    });
</script>
{% block footer %}
    {{ pageAddAsset('stylesheet', zasset('@PaustianMelodyMixerModule:css/custom.css')) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/vendor/easeljs.js'), 100) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/vendor/preloadjs.js'), 101) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/vendor/soundjs.js'), 103) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/vendor/tweenjs.js'), 102) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/vendor/ScaleBitmap.js'), 201) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/abstractlevel.js'), 204) }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/' ~ name ~'.js'), 205) }}
{% endblock %}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</body>
</html>