<div>
    <h3>{{ "Student Scores"|trans }}</h3>
    <table id="scoreTable" class="table table-striped">
        <thead>
        <tr>
            <th>{{ "Student Name"|trans }}</th>
            <th>{{ "Student Email"|trans }}</th>
            <th>{{ "Date"|trans }}</th>
            <th>{{ "Basics"|trans }}</th>
            <th>{{ "Rhythm"|trans }}</th>
            <th>{{ "KSS"|trans }}</th>
            <th>{{ "Intervals"|trans }}</th>
            <th>{{ "Constructs"|trans }}</th>
            <th>{{ "Triads"|trans }}</th>
            <th>{{ "Seventh Cords"|trans }}</th>
            <th>{{ "Punctuation"|trans }}</th>
            <th>{{ "CCP"|trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                {% for row in rows %}
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.date|date("m/d/Y") }}</td>
                    {% for score in row.scores %}
                        <td>{{ score }}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% block footer %}
    {{ pageAddAsset('stylesheet', 'https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css') }}
    {{ pageAddAsset('javascript', 'https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js') }}
    {{ pageAddAsset('javascript', zasset('@PaustianMelodyMixerModule:js/dataTableCode.js')) }}
{% endblock %}