{# purpose of this template: graphics and sound delete confirmation view #}
{% extends routeArea == 'admin' ? '@PaustianMelodyMixerModule/adminBase.html.twig' : '@PaustianMelodyMixerModule/base.html.twig' %}
{% trans_default_domain 'graphicsAndSound' %}
{% block title 'Delete graphics and sound'|trans %}
{% block admin_page_icon 'trash-alt' %}
{% block content %}
    <div class="paustianmelodymixermodule-graphicsandsound paustianmelodymixermodule-delete">
        <p class="alert alert-warning">{% trans with {'%name%': graphicsAndSound|paustianmelodymixermodule_formattedTitle} %}Do you really want to delete this graphics and sound: "%name%" ?{% endtrans %}</p>

        {% form_theme deleteForm with [
            '@PaustianMelodyMixerModule/Form/bootstrap_4.html.twig',
            '@ZikulaFormExtension/Form/form_div_layout.html.twig'
        ] only %}
        {{ form_start(deleteForm) }}
        {{ form_errors(deleteForm) }}

        <fieldset>
            <legend>{% trans from 'messages' %}Confirmation prompt{% endtrans %}</legend>
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    {{ form_widget(deleteForm.delete) }}
                    {{ form_widget(deleteForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(deleteForm) }}
    </div>
{% endblock %}
